{%extends "base.html"%}
{%block title%} Poliglotips {%endblock%}
{%block content%}
    <h1>Acá hablamos de idiomas!!</h1>
    <p>
        ¿Quieres compartir tu aprendizaje idiomas? ¿O quizás ver datos curiosos del idioma que aprendes? Tal vez quieres consejos y tips para mejorar tu aprendizaje. Pues encuentras todo eso por aquí. <br>
        Poliglotips es una comunidad de estudiantes que aprenden y crecen juntos! 
    </p>
    <button><a href="{%url 'ver_posteos' 'todos'%}">Explorar</a></button>
{%endblock%}